* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}

.msg-info {
    color: blue;
    font-weight: bold;
    text-align: center;
    font-size: 1.2rem;
}
.msg-error {
    color: red;
    font-weight: bold;
    text-align: center;
    font-size: 1.2rem;
}
.msg-succes {
    color: rgb(0, 218, 0);
    font-weight: bold;
    text-align: center;
    font-size: 1.2rem;
}

/* calendrier */

.boite-calendrier {
    width: 100%;
    max-width: 30rem;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#moisNom {
    width: 30%;
}

.avant,
.apres {
    color: #0062FF;
}

.calendrier thead,
.banhead {
    background-color: rgb(48, 48, 48);
}

.calendrier {
    height: auto;
    table-layout: fixed;
    aspect-ratio: 1 / 1;
    text-align: center;
}

.calendrier tr,
.calendrier td {
    height: 4%;
    width: 4%;
    aspect-ratio: 1 / 1;
}

.green {
    color: #e43131da;
}
.orange {
    color: #ffa600de ;
}
.red {
    color: #12db00d3 ;
}

